<% if current_user.following?(@user) %>
  <% if @user.following?(current_user) %>
    <div class="container">
        <div class="row">
          <h2><%= @user.name %>さんとのチャット</h2>
          <table class="table" id="chut">
            <%= render 'messages/chut', user: @user, messages: @messages %>
          </table>
          <%= form_with model: @message, remote: true do |f| %>
            <%= f.text_field :message %>
            <%= f.hidden_field :room_id %>
            <%= f.submit "送信", class:"btn btn-sm btn-success chat-btn" %>
          <% end %>
        </div>
    </div>
  <% else %>
    <%= @user.name %>さんにフォローされていないため、メッセージの利用はできません。
  <% end %>
  <% else %>
    <%= @user.name %>さんをフォローしていないため、メッセージの利用はできません。
<% end %>